# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    tags:
      - 'v*'

jobs:

  publish-taskx:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'yarn'
    
    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build code
      run: yarn build

    - name: Run tests
      run: yarn test:coverage

    - name: Upload coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    
    - name: Publish to npm
      run: npm run publish:taskx
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    